body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table {
  width: 1050px;
}
.batchOperation {
  height: 40px;
  width: 1050px;
  display: flex;
  line-height: 40px;
  justify-content: flex-end;
}
.batchDel {
  color: #ff4d4f !important;
}
.batchCopy {
  color: #1440a3 !important;
  margin-left: 10px;
}
.icon {
  margin-left: 5px;
}
.timeLineHeader {
  display: flex;
  height: 54px;
  background: #E4F0FF;
  padding: 0 20px;    
  color: rgba(0,0,0,.85);
  font-weight: 500;
}
.checkbox {
  width: 60px;
  height: 100%;
  padding: 16px !important;
  text-align: center;
}
.date {
  width: 60px;
  height: 100%;
  padding: 16px 0;
  text-align: left;
  font-size: 14px;
  /* line-height: 50px; */
}
.time {
  width: 770px;
  height: 100%;
  padding: 16px;
  text-align: left;
}
.timeline {
  width: 752px;
  height: 100%;
  padding: 16px 15px;
  text-align: left;
}
.action {
  width: 120px;
  height: 100%;
  padding: 16px;
  text-align: left;
}
.defense {
  width: 1050px;
  height: 420px;
  padding: 20px;
  position: relative;
}

.week-day {
  height: 50px;
  width: 100%;
  display: flex;
}

.w-right {
  width: 770px;
  height: 40px;
  padding: 0 16px;
}
.actionDetail {
  padding: 16px;
  text-align: left;
}
.disabled {
  color: rgba(0,0,0,0.2) !important;
  cursor: no-drop;
  width: 60px;
  height: 100%;
  margin-left: 10px;
}
.del {
  color: #ff4d4f !important;
  width: 60px;
  height: 100%;
  margin-left: 10px;
}
.copy {
  color: #1440a3 !important;
  width: 60px;
  height: 100%;
}
.time-num {
  overflow: hidden;
  height: 20px;
  margin-left: -20px;;
}

.hour {
  display: block;
  float: left;  
  height: 10px;
  width: 30px;
  font-size: 12px;
  text-align: center;
}

.w-right .time-bor {
  height: 5px;
  /* margin-left: 2px; */
  width: 1000px;
  overflow: hidden;
}
.line {
  display: block;
  float: left;
  height: 5px;
  width: 30px;
  border-left: 1px solid #d2d2d2;
}


.time-pro {
  height: 16px;
  margin-right: 17px;
  width: 722px;
  border: 1px solid #d2d2d2;
  background: #fff;
  /* float: right; */
  position: relative;
}


.pro-mc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popFooter {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 10px;
}
.save {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* .ri_it {
  display: none;
  height: 90px;
  width: 200px;
  box-shadow: 1px 1px #ccc;
  z-index: 50;
  position: absolute;
  background: #fff;
}

.ri_time input {
  height: 20px;
  width: 30px;
  outline: none;
  text-align: center;
}

.ri_time {
  height: 30px;
  width: 100%;
  margin-top: 10px;
  padding-left: 12px;
}

.ri_it a {
  text-decoration: none;
}

.ri_btn {
  height: 30px;
  text-align: center;
  width: 100%;
  margin-top: 10px
} */
.rc-batch-operation {
  height: 40px;
  width: 1030px;
  display: flex;
  line-height: 40px;
  justify-content: flex-end;
}
.rc-batch-delete {
  color: #ff4d4f !important;
}
.rc-batch-copy {
  color: #1440a3 !important;
  margin-left: 10px;
}
.rc-icon {
  margin-right: 5px;
}
.rc-table {
  width: 1030px;
}
.rc-header {
  display: flex;
  height: 54px;
  background: #E4F0FF;
  padding: 0 20px;    
  color: rgba(0,0,0,.85);
  font-weight: 500;
}
.rc-checkbox {
  width: 60px;
  height: 100%;
  padding: 16px !important;
  text-align: center;
}
.rc-date {
  width: 60px;
  height: 100%;
  padding: 16px 0;
  text-align: left;
  font-size: 14px;
  /* line-height: 50px; */
}
.rc-timeline-header {
  width: 752px;
  height: 100%;
  padding: 16px 15px;
  text-align: left;
}
.rc-action {
  width: 120px;
  height: 100%;
  padding: 16px;
  text-align: left;
}
.rc-day {
  display: flex;
  padding: 0 20px;
  margin: 10px 0;
}
.rc-timeline {
  margin: 0 15px;
}
.rc-time {
  display: flex;
  margin-left: -15px;
  width: 752px;
  margin-right: -15px;
}
.rc-hour {
  width: 30px;
  text-align: center;
  font-size: 12px;
}
.rc-line {
  display: block;
  height: 5px;
  width: 30px;
  border-left: 1px solid #d2d2d2;
  margin-left: 16px;
}
.rc-slider {
  position: relative;
  height: 16px;
  width: 722px;
  /* border-radius: 6px; */
  border: 1px solid #d2d2d2;
  background: #fff;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 14px;
  /* border-radius: 6px; */
  background-color: rgb(84, 194, 29);
  z-index: 1;
}
.rc-action {
  padding: 16px;
  text-align: left;
}
.rc-del {
  color: #ff4d4f !important;
  width: 60px;
  height: 100%;
  margin-left: 10px;
}
.rc-copy {
  color: #1440a3 !important;
  width: 60px;
  height: 100%;
}
.rc-save {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.rc-track-time {
  position: absolute;
  width: 1;
}
.rc-slider-track:hover {
  cursor: pointer;
}
.rc-showtime {
  display: none;
}
.rc-slider-track:hover .rc-showtime {
  display: block;
}